.CommonButton {
    outline: none;
    border: none;
    background: black;
    padding: 8px 20px;
    color: white;
    border-radius: 0;
    transition: .2s background-color .2s color;
    cursor: pointer;

    &:hover {
        background: rgba(0, 0, 0, 0.7);
    }

    &--light {
        background: white;
        border: 1px solid black;
        color: black;

        &:not(.CommonButton--disabled):hover {
            background: black;
            color: white;

        }
    }

    &--light.CommonButton--disabled {
        border-color: gray;
        background: white;
        color: gray;
    }
    
    &--disabled {
        pointer-events: none;
    }

    &--dark.CommonButton--disabled {
        background: rgba(0, 0, 0, 0.7);
        color: #aaa;
    }

}