.CommonButton {
    position: relative;
    bottom: 0;
    outline: none;
    border: none;
    background: black;
    padding: 8px 15px;
    width: 33.3%;
    margin: 0 auto;
    color: white;
    border-radius: 0;
    transition: .2s background-color;
    cursor: pointer;
}

.CommonButton:hover {
    background: rgba(0, 0, 0, 0.7);
}