.CommonButton {
    outline: none;
    border: none;
    background: black;
    padding: 8px 20px;
    color: white;
    border-radius: 0;
    transition: .2s background-color .2s color;
    cursor: pointer;
}

.CommonButton:hover {
    background: rgba(0, 0, 0, 0.7);
}

.CommonButton--light {
    background: white;
    border: 1px solid black;
    color: black;
}

.CommonButton--light:not(.CommonButton--disabled):hover {
    color: white;
    background: black;
}

.CommonButton--light.CommonButton--disabled {
    border-color: gray;
    background: white;
    color: gray;
}

.CommonButton--dark.CommonButton--disabled {
    background: rgba(0, 0, 0, 0.7);
    color: #aaa;
}

.CommonButton--disabled {
    pointer-events: none;
}