.Card {
    width: 300px;
    box-shadow: 1px 1px 10px 4px #ccc;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
  
.Card-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 150px);
  }
  
.Card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.Card-button {
    margin-top: auto;
}